PORT=8080
SESSION_SECRET=replace_with_strong_secret
MYSQL_HOST=150.241.70.1
MYSQL_PORT=3306
MYSQL_USER=authme
MYSQL_PASSWORD=F8mb4EDwlTjEQiaAKP
MYSQL_DATABASE=authme
MYSQL_TABLE=authme
MYSQL_USERNAME_COLUMN=username
MYSQL_PASSWORD_COLUMN=password
