PORT=8080
SESSION_SECRET=replace_with_strong_secret
MYSQL_HOST=150.241.70.1
MYSQL_PORT=3306
MYSQL_USER=authme
MYSQL_PASSWORD=changeme
MYSQL_DATABASE=authme
MYSQL_TABLE=authme
MYSQL_USERNAME_COLUMN=realname
MYSQL_PASSWORD_COLUMN=password
MYSQL_LASTLOGIN_COLUMN=lastlogin
MYSQL_MINECRAFT_DATABASE=minecraft
MYSQL_LUCKPERMS_TABLE=luckperms_players
MYSQL_LUCKPERMS_UUID_COLUMN=uuid
MYSQL_LUCKPERMS_USERNAME_COLUMN=username
MYSQL_SKINS_TABLE=Skins
MYSQL_SKINS_IDENTIFIER_COLUMN=skin_identifier
MYSQL_SR_PLAYER_SKIN_TABLE=sr_player_skin
